@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body data-ng-app="WunderlistModule">
    <div>
        <div>
            <div>
                <table style="background-color: whitesmoke; border:solid 4px green">
                    <tr>
                        <td style="border: solid 1px gray; width: 170px; text-align: center">
                            <a href="ShowTasks">
                                Show all Users
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div data-ng-view></div>
            </div>
        </div>
    </div>
</body>


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/AngularModules/Services.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/AngularModules/ShowTasksController.js")"></script>
}