@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Wunderlist</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Wunderlist.css" rel="stylesheet">
    <link href="~/Content/Styles.css" rel="stylesheet">
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularModules/Module.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="wunderlist-base" class="background-06">
    <div id="wrapper">
        <div id="sidebar-wrapper" data-ng-app="WunderlistModule" data-ng-controller="toDoListCtrl">
            <ul class="sidebar-nav">
                <li>
                    <div id="search-toolbar" class="search-bar">
                        <a id="menu-toggle" href="#menu-toggle" style="width: 20%; float: left; color: #ffffff">
                            <span id="main_icon" class="glyphicon glyphicon-align-justify"></span>
                        </a>
                        <div class="wrapper" style="float: right; width: 80%">
                            <input type="text" />
                            <button style="padding-right: 5px"><span class="glyphicon glyphicon-search" style="padding-right: 5px"></span></button>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="user-info" class="list-item">
                        UserName
                    </div>
                </li>
                <li>
                    <div class="list-item" data-ng-repeat="item in toDoList">
                        <a href="#">{{item.Name}}</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="tasks" role="main">
                    <div id="list-toolbar">
                        <h1>Входящие</h1>
                    </div>
                </div>
                <div class="tasks-scroll">
                    <div class="add-task">
                        <button style="padding-right: 5px"><span class="glyphicon glyphicon-plus" style="padding-right: 5px"></span></button>
                        <input type="text"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-wrapper.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
