<table>
    <tr>
        <td height="10px"></td>
    </tr>
</table>
<table style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
    <thead>
        <tr style="background-color:#F5F5F5;">
            <th>Name</th>
            <th>DueDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="Task in Tasks">
            <td>{{Task.Name}}</td>
            <td>{{Task.DueDate}}</td>
        </tr>
    </tbody>
</table>  
