<div id="userProfileModal" class="modal fade" role="dialog" data-ng-controller="userProfileController" data-ng-model="changedUserProfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="background-color: whitesmoke">
                <div class="row">
                    <div class="col-sm-4 file-upload">
                        <img class="avatar-lg" src="data:image/jpeg;base64, {{changedUserProfile.Avatar}}"/>
                        <input id="avatarInput" type="file" onchange="angular.element(this).scope().loadAvatar(this)">
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="user-input-label">Имя</label>
                            </div>
                            <div class="col-sm-8">
                                <input id="username" type="text" class="user-input" value="{{changedUserProfile.Name}}" placeholder="Имя" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" data-ng-click="saveUserProfileChanges();">Готово</button>
            </div>
        </div>
    </div>
</div>
