<div data-ng-controller="userProfileController" data-ng-model="userProfile" class="user-info">
    <img class="avatar" src="data:image/jpeg;base64, {{userProfile.Avatar}}" />
    <span>{{userProfile.Name}}</span>
    <img src="~/Content/icons/user-arrow.png" height="7" />
</div>

