@font-face {
    font-family: "Helvetica Neue";
    src: url("/Content/fonts/helveticaneuecyr-thin.otf");
}

@font-face {
    font-family: "Lato";
    src: url("/Content/fonts/Lato-Regular.ttf");
}

body {
    color: #423e3e;
    background-color: #fafafa;
    font-size: 25px;
    font-weight: normal;
    min-width: 360px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    margin: 40px auto 40px auto;
}
.logo:before {
    content: '';
    display: block;
    margin: auto;
    height: 80px;
    width: 80px;

    background-image: url("/Content/images/logo.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: top right;
}

.signup-logo-text {
    margin: 0 auto 20px auto;

    text-align: center;
    font-size: 32px;
    
    color: #666;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.icon {
    width: 25px;
    height: 21px;
}

form.singup,
form.singin {
    border: solid 1px;
    border-color: #DDD;
    border-radius: 5px;

    box-shadow: 0 0 3px #DDD;

    padding: 2px 0 2px 0;

    font-family: Arial;
    font-size: 20px;
}

.form-submit-block {
    text-align: center;
    padding: 5px;
} 

.input-name,
.input-email,
.input-password {
    height: 50px;
    border-radius: 0;
    border-width: 0 0 1px 0;
    box-shadow: none;
    border-color: #EEE;
}

.input-name:focus,
.input-email:focus,
.input-password:focus {
    border-color: #EEE;
    box-shadow: none !important;
}

.singin-error-message {
    font-size: 12pt !important;
    text-align: center !important;
    font-family: "Arial";
}

.link {
    margin: 10px 0 10px 0;
    font-size: 13pt;
    text-align: center;
}

.link a {
    text-decoration: none;
}
