.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 50px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.icon {
    width: 25px;
    height: 25px;
}

form.singup,
form.singin {
    border: solid 1px;
    border-color: lightgray;
    border-radius: 5px;

    box-shadow: 0 0 3px lightgray;

    padding: 2px 0 2px 0;
}

.input-name,
.input-email,
.input-password {
    height: 50px;
    border-radius: 0;
    border-width: 1px 0 0 0;
    box-shadow: none;
}

.input-name:focus,
.input-email:focus,
.input-password:focus {
    border-color: lightgray;
    box-shadow: none !important;
}

.input-first {
    border-width: 0;
}